extends layout

block content
    h1.mt-5 Who am I? 
    h3.mt-5 Background
    p 
        | Hello and welcome to my website, I'm glad you're here. My name is Matthew Hwang, and I am a self-taught
        | full-stack web developer trying to make the world better, one website at a time. 