extends layout

block styles
    link(rel="stylesheet", href="/styles/about.css")

block content
    .row
        .col-12
            p 
                | Hello and welcome to my website, I'm glad you're here. 
            p   
                | My name is Matthew Hwang, and I am a self-taught
                | full-stack web developer trying to make the world better, one website at a time. 

            h3.mt-3 How did I get here? 
            p
            | As a son of two physicians, I grew up with the intention of being a doctor of some sort (whether of my own volition or not). 
            | I graduated from Washington University in St. Louis with a B.S. in Biomedical Engineering, and decided I needed a year or two to decide if medical school
            | was truly right for me. I got a job working at Epic Systems, an electronic health records software company based in Madison, WI, and applied for medical schools
            | while learning about the healthcare field from an IT perspective. While at Epic, I was in a number of internal workgroups, one of which was tasked with gathering and disseminating
            | key performance indicators for our customers. 
            | In this workgroup, I gained my first real exposure to web development, assisting in the development of a Windows program and ASP.NET MVC website for Epic staff to view these key performance
            | indicators. I was hooked on web development because it was so satisfying to see the results of my programming help others be more efficient, and because I could see my results right away. 
            | Although I ended up getting an offer to attend medical school, I declined because I felt more useful programming websites and tools than taking care of patients, and I thought I could
            | still make an impact in healthcare from an IT standpoint. I took a job at UC Davis developing websites for healthcare research and public health, and have been continually expanding
            | my breadth of knowledge in front-end frameworks, back-end, databases, and everything in between. 
    .row
        .col-12
            h3.mt-3 Hobbies
    .row.hobbies-container
        .col-4.hobby-container
            .hobby-name Music
            .hobby-description
                p 
                | I am a classically trained pianist and taught myself how to play the guitar when I was 12. Starting September 2017, I will be taking voice lessons, and hope to 
                | perform some of my favorite acoustic songs for open mic in Sacramento.
        .col-4.hobby-container
            .hobby-name Cars
            .hobby-description
                p 
                | My parents say one of my first spoken words was "Toyota". These days I enjoy autocrossing, going to the track, and driving twisty canyon roads in my MINI Cooper.  
        .col-4.hobby-container
            .hobby-name Tennis
            .hobby-description
                p 
                | I started playing tennis when I was around 5 years old. These days, I play in 4.5 leagues and hit 2 to 3 times a week. 
        .col-4.hobby-container
            .hobby-name Dodgeball
            .hobby-description
                p 
                | I participate in a social dodgeball league here in Sacramento. My team is 4-1-1 so far in the season! 
        .col-4.hobby-container
            .hobby-name Colorful Socks
            .hobby-description
                p 
                | Colorful socks are how I express myself at work. Naturally, I have a subscription that ships me a new pair of awesome socks every month. 
        .col-4.hobby-container
            .hobby-name Baking
            .hobby-description
                p 
                | I bake something new nearly every week and am always looking for new recipes to try! I prefer extra chocolatey food. 


block scripts
    script(src="/scripts/about.js")