body {
  font-family: 'Source Sans Pro', sans-serif;
}

.footer-icon {
  font-size: 36px !important;
}

#socialMedia {
  width: 30%;
}

.footer {
  height: 250px;
  background-color: #2D3047;
  color: white;
}

.about-section {
  border-right: 1px solid gray;
}

.phone {
  font-size: 30px !important;
}

.footer-main-content {
  height: 75% !important;
}

.footer-made-by {
  height: 25% !important;
}
